# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*.idea
*.vscode
*/node_modules
*/.pnp
*/.pnp.js

# testing
*/coverage

# production
*/build

# misc
*/.DS_Store
*/.env.local
*/.env.development.local
*/.env.test.local
*/.env.production.local

*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*
firebase.json
public/index.html
.firebaserc
.firebase/hosting.bW9uc3RlcnMtcm9sb2RleFxidWlsZA.cache
.firebase/hosting.M2Zvb2QtcmVjaXBlXGJ1aWxk.cache
.firebase/hosting.MndlYXRoZXItd2ViLWFwcFxidWlsZA.cache
.firebase/hosting.MWZvb2Qtb3JkZXJcYnVpbGQ.cache
.firebase/hosting.Y3Jvd24tY2xvdGhpbmdcYnVpbGQ.cache
.firebase/hosting.cG9ydGZvbGlvXGJ1aWxk.cache
.firebase/hosting.MXJlc3RhdXJhbnRcYnVpbGQ.cache
