.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 24px;
    border-top: 15px solid orange;
}

.app__search {
    min-width: 200px;
    max-width: 100vw;
    border-radius: 10px;
    font-size: 17px;
    margin: 4px;
}

.app__Labels {
    padding-inline: 8px;
    border-radius: 10px;
    margin-inline: 16px;
}

.app__submit {
    border-radius: 10px;
    margin: 4px;
    cursor: pointer;
}

.app__submit:hover {
    background: #b3cccc;
    color: black;
    border: 2px solid gray;
    font-size: 18px;
}

.app_recipes {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
